<h1>All artists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Spotify ID</th>
      <th>Songkick ID</th>
      <th>Human Verified?</th>
      <th colspan="5"></th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.spotify_artist_id %></td>
        <td><%= artist.songkick_id %></td>
        <td><%= artist.is_human_verified %></td>
        <td><%= link_to "Show", artist %></td>
        <td><%= link_to "Edit", edit_artist_path(artist) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
