<div>
  <div class="row">
    <div class="time">
      {{getTimeString start_time_local}}
    </div>
    {{carousel lineups}}
  </div>
  <div class="row">
    {{#each lineups}}
      <div class="artist artist{{@index}}" style="display:{{getArtistDisplay @index}}">
        <p class="artistName">{{this.artist.name}}</p>
        <div class=centeredRow>
          {{#if this.artist.spotify_artist_id}}
            <div class="musicPlayer">
              <iframe src="https://open.spotify.com/embed?uri=spotify:artist:{{this.artist.spotify_artist_id}}" width="250" height="300" frameborder="0" allowtransparency="true">
              </iframe>
            </div>
          {{else}}
            <div class="noMusicFound">
              <img style="width:100%;" src="/assets/cat-980dae8ff80cffa86ec33a715a6ac551f7f5919616d6a371ef900b1af0c97809.jpg" alt="Cat" />
              <p>Sorry! We couldn't find any music for this artist.</p>
            </div>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
  <div class="row">
    <div class="venue">
      {{venue_name}}
    </div>
  </div>
  <div class="row">
    <div class="attribution">
      <a href={{listing_url}} target="_blank">Tickets and more by Songkick</a>
    </div>
  </div>
</div>
