
  <div id="no-results" class="dialog-box">
    <div class="row">
      <div class="emphasized-headline">No listings found</div>
      <div class="close-button"></div>
    </div>
    <div class="row">
      <div class="dialog-text">Seems like there aren't any listings here today. Try another location!</div>
    </div>
  </div>
  <div id="loading" class="dialog-box">
    <div class="row">
      <div class="emphasized-headline">Give us a minute</div>
      <div class="close-button"></div>
    </div>
    <div class="row">
      <div class="dialog-text">There may be listings here today, but we haven't activated this area yet. We're looking now, hang on for a bit!</div>
    </div>
  </div>
  <div id="location-request" class="dialog-box">
    <div class="row">
      <div class="emphasized-headline">Discover new music tonight</div>
      <div class="close-button"></div>
    </div>
    <div class="row">
      <div class="dialog-text">
        Gigscape helps you discover great music from artists playing in your local area.
        It works best when we have your location!</div>
    </div>
    <div class="row">
      <button style="width: 90%; padding: 0.5em; background-color: #1AF2CA; border-radius: 0.5em; border-color: #1AF2CA; margin: auto;" onclick="setLocationCookie('granted')" class="dialog-text">Grant us location</button>
    </div>
    <a href="" style="text-align: center; color: #F3F3DD; padding: 0.5em;" onclick="setLocationCookie('rejected')" class="dialog-text">No thanks, I'll type my location in</a>

  </div>

<div id="map">
  <div id="header-container">
    <div id="logo">
      <%= image_tag('gigscape-logo.png') %>
    </div>
    <div id="geocoder">
    </div>
  </div>
</div>

<script>
  // TODO: fix this horrific travesty
  document.onclick = () => {
    const dialogBoxes = document.querySelectorAll('.dialog-box')
    dialogBoxes.forEach(box => { box.style.display = 'none' })
  };

  mapboxgl.accessToken = "pk.eyJ1Ijoic2hlcmlkYW52ayIsImEiOiJjajh2cDd3dWsweWhnMzNwMnNqaTlsbGljIn0.SzawANobBNZNsLfVkzhwAQ";

  const mapEl = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/dark-v9",
    center: [
      13.4050, 52.5200
    ],
    minZoom: 11,
    maxZoom: 19,
  });

  const geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    flyTo: false,
    placeholder: 'Search for location',
  });

  document.getElementById('geocoder').appendChild(geocoder.onAdd(mapEl))

  geocoder.on('result', (ev) => {
    // Google Analytics tracking
    dataLayer.push({'event': 'location-search', 'searchPlaceName': ev.result.place_name});

    geocoder.container.blur();
    const today = new Date();
    getListingsForLocation(ev.result.center[1], ev.result.center[0], today)
    mapEl.jumpTo({
      center: ev.result.center
    });
  });

  checkLocationPermissions();

</script>
