/* Contains style information for all windows and shared site elements */

@import url('https://fonts.googleapis.com/css?family=Inconsolata');

@font-face {
  font-family: 'FontAwesome';
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.eot');
  src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.woff2') format('woff2'),
       url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.woff') format('woff'),
       url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype'),
       url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.svg?#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background-color: #343332;
  height: 100vh;
}
p {
  margin: 0;
}
a:visited,
a:link {
    color: #1AF2CA;
}
.emphasized-headline {
  font-family: 'Inconsolata', monospace;
  font-size: 24px;
  line-height: normal;
  color: #1AF2CA;
}
.dialog-text {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.dialog-box .row {
  margin-bottom: 1em;
}
.centeredRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#location-request {
  display: none;
}
#no-results {
  display: none;
}
#loading {
  display: none;
}
.dialog-box {
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #454545;
  color: #F3F3DD;
  width: 80vw;
  z-index: 20;
  position: relative;
  margin: 0 auto;
  padding: 1em;
  border-radius: 0.5em;
  justify-content: space-between;
  border: #1AF2CA 4px solid;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  -webkit-transform:  perspective(1px) translateY(-50%);
  cursor: pointer; /* otherwise iOS Safari won't consider dialog boxes clickable to dismiss them :/ */
}

@media (min-width: 600px) {
  .dialog-box {
    width: 500px;
  }

}
.close-button:before {
  content: "\f00d";
  font-family: FontAwesome;
  position: relative;
  color: #1AF2CA;
  font-size: 24px;
}
