/* Contains all style-related information for the pop-up windows for listings */

.mapboxgl-popup {
  width: 300px;
  z-index: 10;
}
.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Inconsolata', monospace;
  color: #F3F3DD;
  background-color: #454545;
  border-color: #454545;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}
.time p:before {
  content: "\f017";
  font-family: FontAwesome;
  position:relative;
  font-size: 16px;
  left: -0.5em;
}
.time p {
  font-size: 18px;
  color: #BEDAD5;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0.5em;
}
.venue p:before {
  content: "\f041";
  font-family: FontAwesome;
  position:relative;
  font-size: 16px;
  left: -0.5em;
}
.venue p {
  margin-top: 0px;
  margin-bottom: 0.5em;
  font-size: 18px;
  color: #BEDAD5;
  margin-left: 0.5em;
}
.attribution:before {
  content: "\f145";
  font-family: FontAwesome;
  position:relative;
  font-size: 14px;
  left: -0.5em;
}
.attribution {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  color: #1AF2CA;
  margin-left: 0.5em;
}
.artist-name {
  color: #BEDAD5;
  font-size: 30px;
  line-height: 1.3em;
  margin-top: 0px;
  margin-bottom: 0.5em;
}
.musicPlayer {
  font-size: 18px;
  color: #BEDAD5;
  border: 5px solid #BEDAD5;
  border-width: 2px;
}
.iframe-wrapper {
  display: grid;
  width: 250px;
  height: 80px;
}
.iframe-loading {
  grid-area: 1 / 1 / 1 / 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-music {
  box-sizing: border-box;
  padding: 1em;
  width: 250px;
  height: 80px;
}
.artist {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}
.carousel {
  font-size: 24px;
}
.carousel-button {
  width: 1em;
  height: 1em;
  margin-right:0.25em;
  opacity: 0.3;
}
.carousel-button.active {
  opacity: 1.0;
  cursor: pointer;
}
.carousel-button.hidden {
  display: none;
}
#forward:before {
  content: "\f0a9";
  font-family: FontAwesome;
  position:absolute;
  color: #BEDAD5;
}
#back:before {
  content: "\f0a8";
  font-family: FontAwesome;
  position:absolute;
  color: #BEDAD5;
}
